sinhala_nlp_pipeline/models/byt5_reorder
sinhala_nlp_pipeline/models/byt5_sinhala
sinhala_nlp_pipeline/models/mt5_reorder
sinhala_nlp_pipeline/models/mt5_sinhala
sinhala_nlp_pipeline/models/old
sinhala_nlp_pipeline/models/si
nha_nlp_pipeline/models/*.bin
sinhala_nlp_pipeline/models/*.vec
sinhala_nlp_pipeline/models/*.pt
sinhala_nlp_pipeline/models/*.crf
sinhala_nlp_pipeline/models/model.crf
sinhala_nlp_pipeline/saved_models/
*.bin


__pycache__/
*.pyc
.env
.DS_Store

venv/


*.jpg
*.jpeg

old/Sinhala-POS-Tagger
old/new_dependency_parser

old/Sinhala-POS-Tagger
old/new_dependency_parser
old/dependency_parser
old/sinhala_parser